<!-- Nav bar -->
<div class="navbar bg-base-100">
    <div class="flex-1">
      <a href="/" class="btn btn-ghost normal-case text-xl">Lego Collection</a>
    </div>
    <!-- Small Screen -->
    <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost sm:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" /></svg>
        </label>
        <ul tabindex="0" class="menu menu-sm dropdown-content right-0 mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
            <li>
                <a href="/lego/sets" class="<%= (page == "/lego/sets") ? 'active' : '' %>">
                    View Collection
                </a>
            </li>
            
            <li><a href="/about" class="<%= (page === '/about') ? 'active' : '' %>">About</a></li>
            <li>
                <a class="<%= (page == "/lego/addSet") ? 'active' : '' %>" href="/lego/addSet">
                    Add to Collection
                </a>
            </li>
          
            <!-- If the user is logged in -->
            <% if (session.user) { %>
                <li>
                    <details>
                        <summary>Account: <%= session.user.userName %></summary>
                        <ul class="p-2 right-0">
                            <li>
                                <a class="<%= (page == "/lego/addSet") ? 'active' : '' %>" href="/lego/addSet">
                                    Add to Collection
                                </a>
                            </li>
                            <li>
                                <a class="<%= (page == "/userHistory") ? 'active' : '' %>" href="/userHistory">
                                    User History
                                </a>
                            </li>
                            <li>
                                <a href="/logout">
                                    Log Out
                                </a>
                            </li>
                        </ul>
                    </details>
                </li>
            <% } 
            <!-- If the user is not logged in -->
            else { %>
                <li>
                    <details>
                        <summary>Account</summary>
                        <ul class="p-2 right-0">
                            <li>
                                <a class="<%= (page == "/login") ? 'active' : '' %>" href="/login">
                                    Login
                                </a>
                            </li>
                            <li>
                                <a class="<%= (page == "/register") ? 'active' : '' %>" href="/register">
                                    Register
                                </a>
                            </li>
                        </ul>
                    </details>
                </li>
            <% } %>
        </ul>
    </div>

    <!-- Regular -->
    <div class="navbar-center hidden sm:flex">
      <ul class="menu menu-horizontal px-1">
        <li>
            <a href="/lego/sets" class="<%= (page == "/lego/sets") ? 'active' : '' %>">
                View Collection
            </a>
        </li>
        <li>
            <a href="/about" class="<%= (page === '/about') ? 'active' : '' %>">
                About
            </a>
        </li>
        <!-- If the user is logged in -->
        <% if (session.user) { %>
          <li>
              <details>
                  <summary>Account: <%= session.user.userName %></summary>
                  <ul class="p-2 right-0">
                      <li>
                        <a class="<%= (page == "/lego/addSet") ? 'active' : '' %>" href="/lego/addSet">
                            Add to Collection
                        </a>
                    </li>
                    <li>
                        <a class="<%= (page == "/userHistory") ? 'active' : '' %>" href="/userHistory">
                            User History
                        </a>
                    </li>
                    <li>
                        <a href="/logout">
                            Log Out
                        </a>
                    </li>
                  </ul>
              </details>
          </li>
        <% } 
        <!-- If the user is not logged in -->
        else { %>
          <li>
              <details>
                  <summary>Account</summary>
                  <ul class="p-2 right-0">
                    <li>
                        <a class="<%= (page == "/login") ? 'active' : '' %>" href="/login">
                            Login
                        </a>
                    </li>
                    <li>
                        <a class="<%= (page == "/register") ? 'active' : '' %>" href="/register">
                            Register
                        </a>
                    </li>
                  </ul>
              </details>
          </li>
        <% } %>
      </ul>
    </div>
</div>
